@import 'fonts.css';

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: ImperialNYT;
}
a{
    text-decoration: none;
}
/* Navbar Styling */
.navbar {
    background: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #ccc solid;
}
.icons {
    display: flex;
    width: fit-content;
    justify-content: flex-start;
}

.icons > * {
    padding: 0 10px 0 10px;
}
.logo {
    display: flex;
    justify-content: center;
    width: 5%;
}
.call_to_action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn {
    border: none;
    width: fit-content;
    padding: 11px 12px 8px;
    background-color: rgb(86, 123, 149);
    border-color: rgb(50, 104, 145);
    color: white;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Article Description */
.article_description {
    width: 80%;
    margin: 0 auto;
}
.article_title {
    width: 86%;
    margin: 0 auto;
    font-size: 2.5rem;
}
.article_title > h3 {
    font-family: NYTCheltenham;
    font-style: italic;

}
.article_img > figcaption {
    margin-right: 7px;
    width: 75%;
    color: #666;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.lighter {
    color: #888;
} 

/*First Article*/

.container{
    padding-top: 40px;
    width: 50%;
    margin: 0 auto;
    font-size: 14px;
}

.container>p{
    padding-bottom: 15px;
    line-height: 1.7;
    font-size: 1.125rem;
    font-family: ImperialNYT;
}
.autor,.date {
   float: left;
   padding-bottom: 10px;
}
.article_info_icons  {
    display: flex;
    position: absolute;
    right: 25%;
    text-align: right;
    
    width: fit-content;
}
.article_info_icons >*{
    padding: 10px 10px 0 10px;
    border-radius: 50%;
    background-color: #EEE;
    width: 40px;
    height: 40px;
    text-align: center;
}
.article_info_icons :nth-child(5),
.article_info_icons :nth-child(6){
    border-radius:none;
    background-color: transparent;
    font-size: 20px;
}

.theory_codes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 75%;
    margin: 0 auto;
   

}
.theory_codes_tittle{
    width: 80%;
    margin: 0 auto;
}
.theory_codes_img{
    
    /* padding: 15px; */
   
}

.Bold{
    font-weight: bold;
    
}